$icon-font-path: '/fonts/';

// Fonts
/* Import Salice FranklinGothicURW font */
@import url("//hello.myfonts.net/count/3358c9");
@font-face {font-family: 'FranklinGothicURW-Boo';src: url('/salicefonts/webfonts/3358C9_0_0.eot');src: url('/salicefonts/webfonts/3358C9_0_0.eot?#iefix') format('embedded-opentype'),url('/salicefonts/webfonts/3358C9_0_0.woff2') format('woff2'),url('/salicefonts/webfonts/3358C9_0_0.woff') format('woff'),url('/salicefonts/webfonts/3358C9_0_0.ttf') format('truetype');}
@font-face {font-family: 'FranklinGothicURW-BooIta';src: url('/salicefonts/webfonts/3358C9_1_0.eot');src: url('/salicefonts/webfonts/3358C9_1_0.eot?#iefix') format('embedded-opentype'),url('/salicefonts/webfonts/3358C9_1_0.woff2') format('woff2'),url('/salicefonts/webfonts/3358C9_1_0.woff') format('woff'),url('/salicefonts/webfonts/3358C9_1_0.ttf') format('truetype');}
@font-face {font-family: 'FranklinGothicURW-Dem';src: url('/salicefonts/webfonts/3358C9_2_0.eot');src: url('/salicefonts/webfonts/3358C9_2_0.eot?#iefix') format('embedded-opentype'),url('/salicefonts/webfonts/3358C9_2_0.woff2') format('woff2'),url('/salicefonts/webfonts/3358C9_2_0.woff') format('woff'),url('/salicefonts/webfonts/3358C9_2_0.ttf') format('truetype');}
@font-face {font-family: 'FranklinGothicURW-DemIta';src: url('/salicefonts/webfonts/3358C9_3_0.eot');src: url('/salicefonts/webfonts/3358C9_3_0.eot?#iefix') format('embedded-opentype'),url('/salicefonts/webfonts/3358C9_3_0.woff2') format('woff2'),url('/salicefonts/webfonts/3358C9_3_0.woff') format('woff'),url('/salicefonts/webfonts/3358C9_3_0.ttf') format('truetype');}
@font-face {font-family: 'FranklinGothicURW-Hea';src: url('/salicefonts/webfonts/3358C9_4_0.eot');src: url('/salicefonts/webfonts/3358C9_4_0.eot?#iefix') format('embedded-opentype'),url('/salicefonts/webfonts/3358C9_4_0.woff2') format('woff2'),url('/salicefonts/webfonts/3358C9_4_0.woff') format('woff'),url('/salicefonts/webfonts/3358C9_4_0.ttf') format('truetype');}
@font-face {font-family: 'FranklinGothicURW-HeaIta';src: url('/salicefonts/webfonts/3358C9_5_0.eot');src: url('/salicefonts/webfonts/3358C9_5_0.eot?#iefix') format('embedded-opentype'),url('/salicefonts/webfonts/3358C9_5_0.woff2') format('woff2'),url('/salicefonts/webfonts/3358C9_5_0.woff') format('woff'),url('/salicefonts/webfonts/3358C9_5_0.ttf') format('truetype');}


/* Setting bootstrap sass variables */
$font-family-sans-serif:  "FranklinGothicURW-Boo", "Helvetica", "Arial", sans-serif !default;
$font-family-serif:       "Georgia", "FranklinGothicURW-Boo", "Times", serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   "Menlo", "Monaco", "Consolas", "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

// Bootstrap
@import "../../../vendor/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

body { 
  color: #666;
  font-size: 12px;
  overflow: hidden;
}

.noside-chosen {
  font-size: 1.3em!important;
}

.limit-helper {
  font-size: 1.3em!important;
}

.alert-danger {
    background-color: #EF4F1A;
    border-color: #EF4F1A;
    color: #fff;
    font-weight: 300;
    font-family: "FranklinGothicURW";
}

.step3-label-short {
  font-size: 1.5em!important; 
}

.input-step3 {
  font-size: 1.7em!important; 
}

strong, .component-header, .ha-lineabox, .bridge-counter, #tab-container {
  font-family: "FranklinGothicURW-Dem";
  font-weight: 500;
}

.no-padding-left {
  padding-left: 0!important;
}

.img-thumbnail:hover {
  border: 1px solid #ffcc00;
  cursor:pointer; 
}
.step-ponte-desc {
  font-size:1.4em!important;
}

.drawer-container figcaption {
  font-size: 1.2em!important;
}

.modal-body {
  font-size: 1.2em;
}

.modal-title {
  font-size: 1.3em;
  font-family: 'FranklinGothicURW-Dem';
}

// -------------------------------------------
// BEGIN STEP 1 Actions Toolbar Buttons
#step1 .actions-toolbar > div:first-of-type {
  position: absolute;
  right: -20px;
  top: 12px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  #step1 .actions-toolbar > div:first-of-type {
    right: -10px;
  }
}
// -------------------------------------------
// END STEP 1 Actions Toolbar Buttons


// -------------------------------------------
// BEGIN STEP 2 Actions Toolbar Buttons
#step2 .actions-toolbar > div:first-of-type {
  position:absolute;
  left: 20px;
  top: -25px;
}
#step2 .actions-toolbar > div:last-of-type {
  position:absolute;
  right: 0px;
  top: -25px;
}
#step2 .actions-toolbar > div:last-of-type button {
  position: absolute;
  right: 30px;
}
// -------------------------------------------
// END STEP 2 Actions Toolbar Buttons



// -------------------------------------------
// BEGIN STEP 3 Actions Toolbar Buttons
#step3 .actions-toolbar > div:first-of-type {
  position:absolute;
  left: 20px;
  top: -25px;
}
#step3 .actions-toolbar > div:nth-of-type(2) {
  position:absolute;
  left: 180px;
  top: -25px;
}
#step3 .actions-toolbar > div:last-of-type {
  position:absolute;
  right: 0px;
  top: -25px;
}
#step3 .actions-toolbar > div:last-of-type button {
  position: absolute;
  right: 30px;
}
// -------------------------------------------
// END STEP 3 Actions Toolbar Buttons

// -------------------------------------------
// BEGIN STEP PONTE Actions Toolbar Buttons
#step-ponte .actions-toolbar > div:first-of-type {
  position:absolute;
  left: 20px;
  top: -25px;
}
#step-ponte .actions-toolbar > div:nth-of-type(2) {
  position:absolute;
  left: 180px;
  top: -25px;
}
#step-ponte .actions-toolbar > div:last-of-type {
  position:absolute;
  right: 0px;
  top: -25px;
}
#step-ponte .actions-toolbar > div:last-of-type button {
  position: absolute;
  right: 30px;
}
// -------------------------------------------
// END STEP PONTE Actions Toolbar Buttons

// -------------------------------------------
// BEGIN STEP 4 Actions Toolbar Buttons
#step4-content + .actions-toolbar > div:first-of-type {
  position:absolute;
  left: 20px;
  top: -25px;
}
#step4-content + .actions-toolbar > div:last-of-type {
  position:absolute;
  right: 0px;
  top: -25px;
}
#step4-content + .actions-toolbar > div:last-of-type button {
  position: absolute;
  right: 30px;
}
// -------------------------------------------
// END STEP 4 Actions Toolbar Buttons

// -------------------------------------------
// BEGIN STEP 5 Actions Toolbar Buttons
#step5 .actions-toolbar > div:first-of-type {
  position:absolute;
  left: 20px;
  top: -25px;
}
// -------------------------------------------
// END STEP 5 Actions Toolbar Buttons


.actions-toolbar {
  position: absolute;
  bottom: 84px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  box-shadow: 0 0 16px 10px #fff;
  z-index: 10;
  padding: 12px 15px 0px 15px;
}

#tab-container a {
  font-size: 1.2em!important;
}

#tab-container .active {
  color: #33ae73!important;
}

.caret {
  border: none!important;
  width: 17px;
  height: 11px;
  margin-top: 5px;
  background: url( "/images/others/navbar/freccia-lang.png" ) no-repeat;
  background-size: 10px 10px;
}

.menu-arrow {
    font-size: .9em;
    margin-top: 1px;
}

#step1 > .row:first-of-type {
  display: flex;
  margin-right: -15px;
}
#step1 .actions-toolbar {
  max-width: 95%;
}

.content.flexer {
  height: 100%;  
}

.app-nav + div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 74px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  flex-direction: column;
}

.content-flex > .row:not(.actions-toolbar) {
  margin-bottom: 20px;
}
.content-flex {
  flex-direction: column;
}
.content-flex-scrollable {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 128px;
  padding: 0 16px;
  overflow: auto;
}
.content-flex-padding {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 34px;
}

#step1-content, 
#step2-content, 
#step3-content,
#step-ponte-content,
#step4-content,
#step5-content{
  overflow-x: hidden;
}

.modal-footer .btn  {
  font-size: 1.0em!important;
}

#step1-content {
  padding-right: 0px;
}

#step1-content > div:first-of-type p {
  padding-right: 15px;
}

#step1-description-image {
  background: url( '/images/others/foto-home.jpg' ) no-repeat;
  background-position: 50%;
  background-size: cover;
  height:100vh;
}

figure {
  transition: all .3s ease-in-out;
}

figure:hover {
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
}

.image_selected {
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
}

.pointer {
  cursor: pointer;
}

.alert {
  font-size: 1.2em;
}

.lang-text {

  letter-spacing: 1px;
  font-size: 1.08em;
  margin-right: 4px;
}

.border-selected {
  border: 1px solid #33ae73;
  color: #33ae73;
}

.no-background {
  background-color: none!important;
  background: none!important;
}

.ha-lineabox {
  font-weight: bold;
  font-size: 1.8em;
}
.content-size > panel {
  margin-bottom: 5px!important;
}

.border-deselected {
  border: 1px solid red;
  color: red;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    border: 1px solid #999;
    margin: 0 auto;
}  

.lg-close {
  background: url( "/images/gallery/x-galleria.png" ) no-repeat!important;
  margin-top: 30px;
}

#step2 figcaption {
  font-size: 1.5em!important;
  margin-bottom: 20px;
}

.popover {
  max-width: 100%;
}

.i-icon:hover, .lens-icon:hover {
  text-decoration:none;
}

.btn {
  font-size: 1.1em;
  line-height: 30px;
  border-radius: 20px;
  width: auto;
  height: 32px;
  min-width: 128px;
  max-width: 150px;
  text-transform: uppercase;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,.5) !important;
  -moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,.5) !important;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,.5) !important;
  font-size: 1.1em;
  padding: 0!important;
  border: 1px solid #f04f1a!important;
  transition: all .2s;
  outline: 0;

}
.btn:focus {
  outline: 0;
  outline-offset: 0;
}

.btn:hover {

    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

.btn-danger {
  background: #f04f1a !important;
  color: white !important;
}

.btn-danger:hover {
  background: #f04f1a;
}

.btn-reset {
  background-color: #fcbb58!important;
  border: none!important;
  -webkit-box-shadow: 3px 3px 9px 0px #222 !important;
  -moz-box-shadow: 3px 3px 9px 0px #222 !important;
  box-shadow: 3px 3px 9px 0px #222 !important;
}

.btn-reset:hover {
  background-color: #fcbb58!important;
}

.btn-split-small {
    line-height: 10px;
    border-radius: 8px;
    background: #f04f1a !important;
    color: white !important;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3) !important;
    font-size: 1em;
    padding: 8px !important;
}

.btn-back {
  background: #222 !important;
  border: 1px solid #222!important;
  -webkit-box-shadow: 3px 3px 8px 0px #222 !important;
  -moz-box-shadow: 3px 3px 8px 0px #222 !important;
  box-shadow: 3px 3px 8px 0px #222 !important;
  color: #fff!important;
}

.btn-abs {
    position: absolute;
    right: 0;
    bottom: 5px;
}

.support-selected {
  border: 1px solid #EF4F1A!important;
}

.img-responsive{width: 100%;}

.btn-back:hover {
  background: #222!important;
}
.w-100 {
  width: 100%!important;  
}

.tab-content figure {
      margin-top: 3%;
}


#background {
  cursor: pointer;
}

.i-icon {
  background: url( "/images/others/i-icon.png" ) no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor:pointer;
  text-decoration:none;
  margin-right: 3%;
  margin-top: 6px;
}

.lg-image {
  border: 1px solid #333!important;
}

.lens-icon {
  background: url( "/images/others/step-4/info.png" ) no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor:pointer;
  text-decoration:none;
  position: absolute;
  right: 36px;
}

.input-mm {
    line-height: 33px;
    margin-left: -30px;
    color: #f04f1a !important;
    font-weight: bold;
}

input {
  border-left: 0px!important;
  border-top: 0px!important;
  border-right: 0px!important;
  border-radius: 0px!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  font-weight: bold;
}

.control-label {
    padding: 6px;
    border-bottom: 1px solid #ddd;
    font-size: 1.3em;
    font-weight: 300;
}

#bridge_placeholder {
  background-color: #ededed;
  border: 1px dashed #999;
  height: 30px;
  cursor:pointer;
}

.zeropadded {
  padding: 0!important;
}

#canvas-container {
  width: auto;
}

#step5 label {
  font-size: 1.3em;
}
.btn-danger-small-text {
  font-size: 1em!important;  
}

.bridge-counter {
  font-size: 1em;
}

.no-padding-left {
  padding-left: 0!important;
}

.marginR2 {
  margin-right: 2%;
}

.lh-34 {
  line-height: 34px;
}

.edge {
  border: 1px solid #ddd; 
  background-color: #999; 
  cursor:pointer;
  color: #fff;
  text-align: center;
  font-size: 1.3em!important;
}

.form-control {
  font-size: 1.2em;
}

.edge_selected {
  border: 1px dashed #cccc00;
}

.edge_front, .edge_back{
  height: 40px;
  line-height: 40px;
  width: 200px;
  font-family: "FranklinGothicURW-Dem";
  font-weight: 500;
}
.edge_left, .edge_right{
  width: 25px;
  height: 200px;
}

.top10 { margin-top: 10%; }
.top1 { margin-top: 1% }
.top2 { margin-top: 2%; }
.top5 { margin-top: 5%; }

#step-ponte .help-block {
  font-size: 1.2em;
}

.edge_2d_v {
  background-color: #efefef;
  /*border: 1px dashed #222;*/
  height: 30px;
  cursor:pointer;
  width: 30px;
}

#bridges-tab img {
  cursor:pointer;
}

.no-padding {
  padding: 0!important;
}

.btn-no-borders {
  border: none!important;
}

.bridge_representation {
  cursor:pointer;
  line-height: 30px;
  height: 30px;
  border: 1px solid #666;
  color: #222;
}

.edge_2d_h {
  background-color: #efefef;
  /*border: 1px dashed #222;*/
  height: 30px;
  cursor:pointer;
}

// App Specific css
@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

.ok {
  color: #33ae73;  
}

.has_error {
  color: #ff0000!important;
}

.navbar {
  border-radius: 0 !important;
}

.navbar-brand {
    padding-top: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
}

.navbar-header div {
  padding:0px!important;
  margin: 0px!important;
}


.panel {
  cursor: pointer;
}

.bg-success {
  background-color: #dff0d8!important;
}

// # Scrollspy

.nav .active {
  font-weight: bold;
  //background: #72bcd4;
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}

.drawer-container .drawer-container-image {
  display: inline-block;
  width: auto;
  position: relative;
}
    
.drawer-container .drawer-container-image:before {
  content:"";
  opacity: 0;
  transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.drawer-container.image_selected .drawer-container-image:before {
    content: "";
    background-image: url(../../images/others/bottone-selezione.png);
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: 0px;
    background-position: top;
    background-size: cover;
    z-index: 3;
    opacity: 1;  
    transform: scale(1.5);
}

.drawer-container img {
  cursor:pointer;
}

#container {
  position:relative;
  width: 500px;
  height: 500px;
  border: 3px solid #000;
  color: #666;
}
.box {
  position:absolute;
  width: 200px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  color: white;
  border-radius:10px;
  border: 2px solid black;
}
#box1 {
  background-color: red;
  top:0px;
}
#box2 {
  background-color: blue;
  top:88px;
}
#box3 {
  background-color:#33ae73;
  top:176px;
}
.box a {
  color: white;
}
.highlight {
  border: 4px solid yellow;
  width: 196px;
  height: 76px;
  line-height: 76px;
}
code {
  color: white;
  font-size:1.2em;
}
p {
  margin-top: 8px;
}



html, body, .container-fluid, .wrapper {
  
  height: 100%;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top:4px !important;
  padding-bottom:0 !important;
  height: 35px;
}
.navbar {
  min-height:35px !important;
  border: none;
  margin-bottom: 0!important;

}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background: #424242;
  color: #ff774a !important;
}

.navbar-inverse {
  background: #424242;
}

.dropdown .dropdown-toggle {
  line-height: 25px;
}
.dropdown-menu {
  background: #424242;
  color: #fff;
}
.dropdown-menu li a {
  color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #696969;
}

.split-header {
  background: #fff;
  height: 35px;
  line-height: 35px;
  font-size: 1.3em;
}

#step1 p, #step1 ul {
  font-size: 1.3em;
  line-height: 1.8em;
}

.content {
  padding: 0px;
}
.content .app-nav > .row {
  margin: 0px;
}
.app-nav {
  height: 74px;
  border-bottom: 1px solid #ddd;
}

.component-header {
    height: 35px;
    line-height: 38px;
    font-size: 1.5em;
    color: #666;
}

.pushdown {
  position: absolute;
  bottom: 0;
}

.orange {
  background-color: #EF4F1A ;
  border-color: #EF4F1A ;
}

.gray {
  background-color: #eee ;
  border-color: #e7e7e7 !important;
}

.green {
  background-color: #eee ;
  border-color: dark#33ae73 !important;
}

.sidebar {
  position: relative;
  height: 100%;
  background-color: #eee;
}

.sidebar .actions {
    position: absolute;
    bottom: 0;
    padding-bottom: 16px;
    display: block;
    width: 100%;
}

.sidebar-elem img { 
    transform: scale(0.5);
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    position: relative;
    top: 20px;
}

.nuovaconf {
  background-color: #e7e7e7;
  font-size: 1.1em;
}

.logo {
  height: 74px;
}

.router-links li a {
  display: block;
  color:#999;
  font-size: 1.1em;
  padding-bottom: 15px;
}

.router-links li a:hover span {
    color:#676666;
}
.router-links li:last-of-type::after{
  display: none !important;
}


#cover {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background:#fff;
  opacity: .8;
  display: none;
}

.submenu {
  cursor: pointer;
  background-color: #e2e2e2;
}

.submenu > div {
  /* border: 1px solid #dcdcdc; */
}

.checkbox label {
  white-space: nowrap;
}

// SIDEBAR PSEUDO-TIMELINE

.router-links li {
  text-align: left;
  margin-left: 25px;
}

.navigator {
  position: relative;
}

.navigator .pointer-navigator {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 17px;
    background-color: #f04f1a;
    margin-top: 12px;
    left: 15px;
    z-index: 3;
    transition: all .2s;
    cursor:pointer;
}

.navigator .pointer-navigator.reached {
  background: #33ae73; 
  cursor:pointer;
}

.navigator #nav {
  margin-top: 40px;
  //margin-left: 20px;
}

.navigator #nav li {
  line-height: 30px;
}

.navigator #nav li:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border: 2px solid #aaaaaa;
    border-radius: 18px;
    position: absolute;
    top: 8px;
    left: -29px;
    background: #eeeeee;
    z-index: 2;
    transition: all .2s;
}
.navigator #nav li.current-step a span {
  color:#676666;
}
.navigator #nav li.current-step:before {
  border: 2px solid #f04f1a;
}

.navigator #nav li.reached:before {
  border: 2px solid #33ae73;
}
.navigator #nav li.reached:after {
  border: 1px solid #33ae73;
}
.navigator #nav li.current-step.reached:before {
  border: 2px solid #f04f1a;
}
.navigator #nav li.current-step.reached:after {
  border: 1px solid #f04f1a;
}

.navigator #nav li:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    border: 1px solid #aaaaaa;
    position: absolute;
    top: 12px;
    left: -18px;
    z-index: 1;
}

.navigator #nav li:hover::before, .navigator #nav li.current-step::before{
  transform: scale(1.1);
}

.navigator #nav li:last-child:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    border: 0;
    background: #eeeeee;
    position: absolute;
    top: 12px;
    left: -18px;
    z-index: 1;
}

// SIDEBAR PSEUDO-TIMELINE

.nuovaconf {
  line-height: 74px;
  text-align: center;
  font-weight: 300;
  height:74px;
}

.nuovaconf a {
  color: #666;
  text-decoration: none;
  font-size: 1.1em;
  cursor: pointer!important;
  font-weight: 300;
}


//@media (min-width: 992px) {
/*.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
  }*/
// ---------------

/**
 * Css Animation
 */
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .3s;
}

.fade-enter-active {
  transition-delay: .5s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.lg-backdrop {
  background-color: #fff!important;
}

.lg-sub-html {
  background-color: #fff!important;
}

.lg-outer .lg-thumb-outer {
  background-color: #fff!important; 
}
.lg-sub-html, .lg-toolbar {
  background-color: #fff!important;
}

.btn-email {
  font-size: 1.1em;
  max-width: 300px !important;
  width: 280px;
}

.canvas-container {
  margin: 0 auto;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff!important;
}

.img-shadow {
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.30);
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.30);
}
.img-desaturate {
  /*opacity: 0.40;*/
}

.spacer {
  margin-top: 10px;
}

img.rotate90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}



  .container {
    height: 600px;
  }

  .imgcont,.dragable-img-container {
    height: 70px;
  }


  .dragable-img-container  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
  }


  .imgcont  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
  }



  /**
  * CONFIGURAZIONE TAB COLOR
   */

  /*
  .nav-tabs{
    background-color:#161616;
  }
  .tab-content{
    background-color:#303136;
    color:#fff;
    padding:5px
  }

  */

  .nav .active {
    //background: #f04f1a;
  }


  .nav > li > a {
    position: relative;
    display: block;
    padding: 8px 4px;
  }

  .nav-tabs > li > a{
    color: #f04f1a !important;
    border: medium none;
    font-size: 11px;
  }
  .nav-tabs > li > a:hover{
    color: #f04f1a !important;
    border: medium none;
    border-radius: 0;
  }


  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #fff;
    border: 1px solid #f04f1a;
    border-bottom-color: transparent;
    cursor: default;
  }

  // SIZE - Begin

  .content-size {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .content-size > div:first-of-type {
    padding-right: 0;
    margin-right: 0;
  }
  .content-size > div:last-of-type {
    padding-left: 0;
    margin-left: 0;
    position: relative;
  }
  .content-size > div:last-of-type > div:first-of-type {
    padding-left: 0;
    margin-left: 0;
  }

  #step-ponte .i-icon {
    padding-top: 10px!important;
  }

  .content-size input {
    height: 47px;
    border-bottom: 1px solid #f04f1a;
    padding-right: 25px;
  }

.panel-default > .panel-heading {
    color: #666;
    text-align: left;
    background-color: #fff!important;
    border: none!important;
    font-family: "FranklinGothicURW-Dem";
    font-weight: 500;
}

  .content-size > div:last-of-type > div:first-of-type::after {
      content: 'mm';
      position: absolute;
      right: 15px;
      top: 1px;
      display: block;
      width: 20px;
      height: 20px;
      line-height: 46px;
      margin-left: -30px;
      color: #f04f1a;
      font-weight: bold;
  }
  .content-size > div:last-of-type > div.text-success:first-of-type::after {
      color: #33ae73;
  }
  .content-size .text-success input {
      color: #33ae73;
      border-bottom: 1px solid #33ae73;
  }
  .content-size > div:last-of-type > div.text-danger:first-of-type::after {
      color: #f04f1a;
  }
  .content-size .text-danger input {
      color: #f04f1a;
      border-bottom: 1px solid #f04f1a;
  }
  .content-size .help-block {
      white-space: nowrap;
  }
  .container-size-image {
     max-width: 50%;
  }
  .content-size-panel .panel {
    margin-top: 20px;
    border-radius: 0;
    margin-bottom: 5px!important;
  }
  .text-success {
    color: #33ae73 !important;
  }
  .text-danger {
      color: #f04f1a !important;
  }

  // SIZE - Finish


/***
GALLERY REWRITE
 */


  .lg-actions .lg-prev:after {
    content: "";
  }

  .lg-actions .lg-next:before {
    content: "";
  }

  .lg-toogle-thumb {
    display: none;
  }

  .lg-toolbar .lg-close:after {
    content: "";
  } 

  .pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  display: block;
  position: absolute;
  right: 100%;
  margin-right: -7px;
  width: 93%;
  top: 7px;
  height: 14px;
  font-size: 12px;
  background: #f04f1a;
  color: #f04f1a;
  line-height: 60px;
  font-weight: bold;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;

  -webkit-box-shadow: 120px 0 #fff, 240px 0 #fff;
  -ms-box-shadow: 120px 0 #fff, 240px 0 #fff;
  box-shadow: 120px 0 #fff, 240px 0 #fff;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: inline-block;
  position: fixed;
  width: 45px;
  text-align: right;
  right: 0;
  padding-right: 16px;
  top: 4px;
}

.pace .pace-progress[data-progress-text="0%"]:after { right: -200px }
.pace .pace-progress[data-progress-text="1%"]:after { right: -198.14px }
.pace .pace-progress[data-progress-text="2%"]:after { right: -196.28px }
.pace .pace-progress[data-progress-text="3%"]:after { right: -194.42px }
.pace .pace-progress[data-progress-text="4%"]:after { right: -192.56px }
.pace .pace-progress[data-progress-text="5%"]:after { right: -190.7px }
.pace .pace-progress[data-progress-text="6%"]:after { right: -188.84px }
.pace .pace-progress[data-progress-text="7%"]:after { right: -186.98px }
.pace .pace-progress[data-progress-text="8%"]:after { right: -185.12px }
.pace .pace-progress[data-progress-text="9%"]:after { right: -183.26px }
.pace .pace-progress[data-progress-text="10%"]:after { right: -181.4px }
.pace .pace-progress[data-progress-text="11%"]:after { right: -179.54px }
.pace .pace-progress[data-progress-text="12%"]:after { right: -177.68px }
.pace .pace-progress[data-progress-text="13%"]:after { right: -175.82px }
.pace .pace-progress[data-progress-text="14%"]:after { right: -173.96px }
.pace .pace-progress[data-progress-text="15%"]:after { right: -172.1px }
.pace .pace-progress[data-progress-text="16%"]:after { right: -170.24px }
.pace .pace-progress[data-progress-text="17%"]:after { right: -168.38px }
.pace .pace-progress[data-progress-text="18%"]:after { right: -166.52px }
.pace .pace-progress[data-progress-text="19%"]:after { right: -164.66px }
.pace .pace-progress[data-progress-text="20%"]:after { right: -162.8px }
.pace .pace-progress[data-progress-text="21%"]:after { right: -160.94px }
.pace .pace-progress[data-progress-text="22%"]:after { right: -159.08px }
.pace .pace-progress[data-progress-text="23%"]:after { right: -157.22px }
.pace .pace-progress[data-progress-text="24%"]:after { right: -155.36px }
.pace .pace-progress[data-progress-text="25%"]:after { right: -153.5px }
.pace .pace-progress[data-progress-text="26%"]:after { right: -151.64px }
.pace .pace-progress[data-progress-text="27%"]:after { right: -149.78px }
.pace .pace-progress[data-progress-text="28%"]:after { right: -147.92px }
.pace .pace-progress[data-progress-text="29%"]:after { right: -146.06px }
.pace .pace-progress[data-progress-text="30%"]:after { right: -144.2px }
.pace .pace-progress[data-progress-text="31%"]:after { right: -142.34px }
.pace .pace-progress[data-progress-text="32%"]:after { right: -140.48px }
.pace .pace-progress[data-progress-text="33%"]:after { right: -138.62px }
.pace .pace-progress[data-progress-text="34%"]:after { right: -136.76px }
.pace .pace-progress[data-progress-text="35%"]:after { right: -134.9px }
.pace .pace-progress[data-progress-text="36%"]:after { right: -133.04px }
.pace .pace-progress[data-progress-text="37%"]:after { right: -131.18px }
.pace .pace-progress[data-progress-text="38%"]:after { right: -129.32px }
.pace .pace-progress[data-progress-text="39%"]:after { right: -127.46px }
.pace .pace-progress[data-progress-text="40%"]:after { right: -125.6px }
.pace .pace-progress[data-progress-text="41%"]:after { right: -123.74px }
.pace .pace-progress[data-progress-text="42%"]:after { right: -121.88px }
.pace .pace-progress[data-progress-text="43%"]:after { right: -120.02px }
.pace .pace-progress[data-progress-text="44%"]:after { right: -118.16px }
.pace .pace-progress[data-progress-text="45%"]:after { right: -116.3px }
.pace .pace-progress[data-progress-text="46%"]:after { right: -114.44px }
.pace .pace-progress[data-progress-text="47%"]:after { right: -112.58px }
.pace .pace-progress[data-progress-text="48%"]:after { right: -110.72px }
.pace .pace-progress[data-progress-text="49%"]:after { right: -108.86px }
.pace .pace-progress[data-progress-text="50%"]:after { right: -107px }
.pace .pace-progress[data-progress-text="51%"]:after { right: -105.14px }
.pace .pace-progress[data-progress-text="52%"]:after { right: -103.28px }
.pace .pace-progress[data-progress-text="53%"]:after { right: -101.42px }
.pace .pace-progress[data-progress-text="54%"]:after { right: -99.56px }
.pace .pace-progress[data-progress-text="55%"]:after { right: -97.7px }
.pace .pace-progress[data-progress-text="56%"]:after { right: -95.84px }
.pace .pace-progress[data-progress-text="57%"]:after { right: -93.98px }
.pace .pace-progress[data-progress-text="58%"]:after { right: -92.12px }
.pace .pace-progress[data-progress-text="59%"]:after { right: -90.26px }
.pace .pace-progress[data-progress-text="60%"]:after { right: -88.4px }
.pace .pace-progress[data-progress-text="61%"]:after { right: -86.53999999999999px }
.pace .pace-progress[data-progress-text="62%"]:after { right: -84.68px }
.pace .pace-progress[data-progress-text="63%"]:after { right: -82.82px }
.pace .pace-progress[data-progress-text="64%"]:after { right: -80.96000000000001px }
.pace .pace-progress[data-progress-text="65%"]:after { right: -79.1px }
.pace .pace-progress[data-progress-text="66%"]:after { right: -77.24px }
.pace .pace-progress[data-progress-text="67%"]:after { right: -75.38px }
.pace .pace-progress[data-progress-text="68%"]:after { right: -73.52px }
.pace .pace-progress[data-progress-text="69%"]:after { right: -71.66px }
.pace .pace-progress[data-progress-text="70%"]:after { right: -69.8px }
.pace .pace-progress[data-progress-text="71%"]:after { right: -67.94px }
.pace .pace-progress[data-progress-text="72%"]:after { right: -66.08px }
.pace .pace-progress[data-progress-text="73%"]:after { right: -64.22px }
.pace .pace-progress[data-progress-text="74%"]:after { right: -62.36px }
.pace .pace-progress[data-progress-text="75%"]:after { right: -60.5px }
.pace .pace-progress[data-progress-text="76%"]:after { right: -58.64px }
.pace .pace-progress[data-progress-text="77%"]:after { right: -56.78px }
.pace .pace-progress[data-progress-text="78%"]:after { right: -54.92px }
.pace .pace-progress[data-progress-text="79%"]:after { right: -53.06px }
.pace .pace-progress[data-progress-text="80%"]:after { right: -51.2px }
.pace .pace-progress[data-progress-text="81%"]:after { right: -49.34px }
.pace .pace-progress[data-progress-text="82%"]:after { right: -47.480000000000004px }
.pace .pace-progress[data-progress-text="83%"]:after { right: -45.62px }
.pace .pace-progress[data-progress-text="84%"]:after { right: -43.76px }
.pace .pace-progress[data-progress-text="85%"]:after { right: -41.9px }
.pace .pace-progress[data-progress-text="86%"]:after { right: -40.04px }
.pace .pace-progress[data-progress-text="87%"]:after { right: -38.18px }
.pace .pace-progress[data-progress-text="88%"]:after { right: -36.32px }
.pace .pace-progress[data-progress-text="89%"]:after { right: -34.46px }
.pace .pace-progress[data-progress-text="90%"]:after { right: -32.6px }
.pace .pace-progress[data-progress-text="91%"]:after { right: -30.740000000000002px }
.pace .pace-progress[data-progress-text="92%"]:after { right: -28.880000000000003px }
.pace .pace-progress[data-progress-text="93%"]:after { right: -27.02px }
.pace .pace-progress[data-progress-text="94%"]:after { right: -25.16px }
.pace .pace-progress[data-progress-text="95%"]:after { right: -23.3px }
.pace .pace-progress[data-progress-text="96%"]:after { right: -21.439999999999998px }
.pace .pace-progress[data-progress-text="97%"]:after { right: -19.58px }
.pace .pace-progress[data-progress-text="98%"]:after { right: -17.72px }
.pace .pace-progress[data-progress-text="99%"]:after { right: -15.86px }
.pace .pace-progress[data-progress-text="100%"]:after { right: -14px }


.pace .pace-activity {
  position: absolute;
  width: 100%;
  height: 28px;
  z-index: 2001;
  box-shadow: inset 0 0 0 2px #f04f1a, inset 0 0 0 7px #FFF;
  border-radius: 10px;
}

.pace.pace-inactive {
  display: none;
}
//}

@media (max-width: 1024px){
  .navigator #nav {
    margin-left: 0px !important;
  }
  .navigator #nav li {
    line-height: 20px !important;
  }
  .nav > li > a {
    padding: 5px 10px !important;
  }
  .pointer-navigator {
    display: none !important;
  }
  .router-links li {
      margin-left: 0px !important;
  }
  .router-links li:before {
    display: none !important;
  }
  .router-links li:after {
    display: none !important;
  }
  #step-ponte-content figure.drawer-container {
    width:50%;
    margin: auto;
  }
}
@media (max-width: 768px){
  .navigator #nav {
    margin-left: 0px !important;
  }
  .navigator #nav li {
    line-height: 20px !important;
    font-size: 11px !important;
  }
  .nav > li > a {
    padding: 5px 10px !important;
  }
  .pointer-navigator {
    display: none !important;
  }
  .router-links li {
      margin-left: 0px !important;
  }
  .router-links li:before {
    display: none !important;
  }
  .router-links li:after {
    display: none !important;
  }
  #step-ponte-content figure.drawer-container {
    width:50%;
    margin: auto;
  }
}

@media (max-width: 1200px){
  #step-ponte-content figure.drawer-container {
      width:50%;
      margin: auto;
    }
}

#step4-content > .row {
  position: relative;
}

.container-garbage {
  position: absolute;
  top: 5px;
  left: 150px;
}
.container-button-pdf-help{
  text-align:right;
}

#step4-content .tab-pane .panel {
  position: relative;
  height: 200px;
}

#step4-content .tab-pane .panel .imgcont img {
    position: absolute;
    left: 35px;
    top: -10px;
    border: 0;
}

#step4-content .tab-pane .panel .panel-body .row.top2 .pull-right {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

#step4-content .tab-pane .panel .panel-body .row .pull-left img {
    position: absolute;
    left: 50px;
    bottom: 15px;
    max-height: 40px;
}


/*
#dividers-tab a.bridges-info {
  position: absolute;
  top: -5px;
  right: 10px;
}*/

#dividers-tab figure, #edges-tab figure, #bridges-tab figure {
  position: relative;
}

/*
#edges-tab a.bridges-info {
  position: absolute;
  top: -5px;
  right: 0px;
}
*/
    
#dividers-tab > .row > div > div.row > div[class^='col-'] {
  border-right: 1px solid #dddddd;  
}

#dividers-tab > .row > div > div.row > div[class^='col-']:last-of-type {
  border-right: 0px;  
}

#step4-content .lens-icon{
  right:10px;
}

@media(max-width:992px){
  #bridges-tab figure {
    width: 100px;
  }
}


