
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "../../../vendor/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";


//App Specific css
@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}


.navbar {
  border-radius: 0 !important;
}

.navbar-brand {
    padding-top: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
    height: 60px!important;
}

.navbar-header div {
  padding:0px!important;
  margin: 0px!important;
}

body {
  margin-top: 70px;
  position: relative;
  font-size: 14px;
}

.panel {
  cursor: pointer;
}

.bg-success {
  background-color: #dff0d8!important;
}

.languageselector li {
  display: inline-block;
}

.languageselector li+li:before {
  content: "  | "
}

.languageselector li a.active{
  font-weight: bolder;
  text-decoration: underline;
}


// # Scrollspy

.nav .active {
  font-weight: bold;
  background: #72bcd4;
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}




// # affix

/*
@media (min-width: 1200px) {
  .affix {
    width: 120px;
  }         
}

.affix-bottom {
  position: absolute;
  width: 80px;
}

@media (min-width: 1200px) {
  .affix-bottom {
    width: 120px;
  }
}
*/
