
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "variables";

// Bootstrap
@import "../../../vendor/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";


//App Specific css
@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

.ok {
  color: green;  
}

.has_error {
  color: #ff0000!important;
}


.navbar {
  border-radius: 0 !important;
}

.navbar-brand {
    padding-top: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important;
    padding-left: 0px!important;
}

.navbar-header div {
  padding:0px!important;
  margin: 0px!important;
}



.panel {
  cursor: pointer;
}

.bg-success {
  background-color: #dff0d8!important;
}

// # Scrollspy

.nav .active {
  font-weight: bold;
  background: #72bcd4;
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}

.nav .nav a {
  font-weight: normal;
  font-size: .85em;
}

.nav .nav span {
  margin: 0 5px 0 2px;
}

.nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid black;
}

.nav .nav .active span,
.nav .nav .active:hover span,
.nav .nav .active:focus span {
  display: none;
}





#elementmenu {
  margin-top: 30px;
}

#container {
  position:relative;
  width: 500px;
  height: 500px;
  border: 3px solid #000;
}
.box {
  position:absolute;
  width: 200px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  color: white;
  border-radius:10px;
  border: 2px solid black;
}
#box1 {
  background-color: red;
  top:0px;
}
#box2 {
  background-color: blue;
  top:88px;
}
#box3 {
  background-color:green;
  top:176px;
}
.box a {
  color: white;
}
.highlight {
  border: 4px solid yellow;
  width: 196px;
  height: 76px;
  line-height: 76px;
}
code {
  color: white;
  font-size:1.2em;
}
p {
  margin-top: 8px;
}



html, body, .container-fluid, .wrapper {
  height: 100%;
}

.navbar-nav > li > a, .navbar-brand {
  padding-top:4px !important;
  padding-bottom:0 !important;
  height: 35px;
}
.navbar {
  min-height:35px !important;
  border: none;

}

.navbar-inverse {
  background: #424242;
}

.split-header {
  background: #fff;
  height: 35px;
}


.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.app-nav {
  height: 75px;
}

.component-header {
  height: 35px;
}

.orange {
  background-color: #f04f1a ;
}


.sidebar {
  background-color: #eee;
}

.sidebar-elem {
  height: 70px;
}

.nuovaconf {
  background-color: #e7e7e7 ;

}

.logo {
  padding: 10%;
}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
  }
}
